/*general elements*/
body{
	font-family: sans-serif;
	max-height: 100vh;
	font-size: small;
	overflow: hidden;
}
a{
	text-decoration: none;
	color:#000;
}
a:hover{
	text-decoration: underline;
}
ul li{
	display: inline-block;
}
input:focus{
	outline: none;
}

/*specific id and class*/
.nav{
	float: right;
	margin:10px 30px 0 0;
}
.nav ul li{
	padding: 10px;
	line-height: 24px;
}
.cent{
	position: absolute;
	width: 650px;
	height: 320px;
	top:50%;
	left:50%;
	margin:-100px 0 0 -325px;
	text-align: center;
}
.cent img{
	padding-bottom: 30px;
}
#field{
	margin:0 5px 0 0;
	width: 500px;
	padding:15px;
	border:none;
	background: transparent;
	border-radius: 3px;
	box-shadow: 0 1px 1px #bbb;
}
#field:hover{
	box-shadow:0 2px 2px #777; 
}
.btns input{
	margin: 30px 10px;
	padding:15px;
	border:none;
	background: rgba(120,120,120,0.2);
	font-weight: bold;
	box-shadow: 1px 1px 1px #ccc;
}
.btns input:hover{
	box-shadow: 2px 2px 2px #ccc;
}
.cent ul li{
	padding: 3px;
	font-family: sans-serif;
}
.cent a{
	color:blue;
}
.footer{
	position: absolute;
	top:85%;
	width:100vw;
}
#country,.footer div{
	background: #eee;
	padding:18px;
	border-bottom: 1px solid #ddd;
}
.country:hover{
	box-shadow: 0 1px 4px #000;
}
.left li,.right li{
	padding-right:15px;
}
.footer div .right{
	position: relative;
	right: 0;
	bottom:12px;
	float: right;
}
